<ion-content>
  <!-- Fondo de la página -->
  <div class="backgroundPage"></div> 

  <!-- Formulario de restauración de contraseña -->
  <div class="container">
    <form class="form" (ngSubmit)="restaurar()">
      <div class="title">Bienvenido</div>
      <div class="subtitle">Restaura tu Contraseña</div>

      <!-- Campo de usuario -->
      <div class="input-container ic1">
        <input placeholder="" type="text" class="input" id="username" [(ngModel)]="usuario" name="username">
        <div class="cut"></div>
        <label class="iLabel" for="username">Usuario</label>
      </div>

      <!-- Campo de contraseña -->
      <div class="input-container ic2">
        <input placeholder="" type="password" class="input" id="password" [(ngModel)]="password" name="password">
        <div class="cut"></div>
        <label class="iLabel" for="password">Contraseña</label>
      </div>

      <!-- Campo de confirmación de contraseña -->
      <div class="input-container ic2">
        <input placeholder="" type="password" class="input" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword">
        <div class="cut cut-short"></div>
        <label class="iLabel" for="confirmPassword">Confirma Contraseña</label>
      </div>

      <!-- Botones -->
      <ion-button class="submit" expand="full" type="submit" (click)="restaurar()">Recuperar</ion-button>
      <ion-button class="submit" expand="full" (click)="goBack()">Regresar</ion-button>
    </form>
  </div>
</ion-content>
